
/* 
	References the root element of the page, typically the HTML tag;
	I use ':root' instead of 'html' for CSS variable declarations, so they can 
	apply to any descendant of the root tag. I use 'html' when I want to apply styles 
	specifically to the 'html' tag 
*/

:root {
	/* this is how you define css variables */
	--primary-application-color: #CC5647; 
	--primary-application-background-color: #FAFAFA;
	--secondary-application-background-color: white;
	
	--application-border-color: #F4F4F4;

	/* context tabs */
	--context-tab-text: #BABABA;
	--context-tab-text-selected: #7C7C7C;
	--context-tab-border: #E8E8E8;
	--context-tab-border-selected: #9A9A9A;

	/* icons */
	--application-primary-icon-color: #5C5C5C;

	/* text styles */
	--heading-text-color: #414343;
	--content-text-color: #9E9E9E;
	--primary-app-font: 'Raleway', sans-serif;
	--secondary-app-font: 'Khula', sans-serif;

	/* project item colors */
	--project-color-red: #ed8d75;
	--project-color-gray: #cccccc;
	--project-color-blue: #adc8e1;
	--project-color-teal: #8fe5d3;
	--project-color-purple: #daabe0;

	/* search bar */
	--search-bar-initial-color: #E6B9B6;
}

/* vw = view width, vh = view height; both depend on the viewport */

html, body {
	width: 100vw;
	height: 100vh;
	background-color: var(--primary-application-background-color);
}

/* APPLICATION MENU BAR */

.menubar {
	width: 100%;
	height: 50px;

	/* this is how you use CSS variables */
	background-color: var(--primary-application-color);
}

/* UI CONTAINERS */
.app-ui-container {
	height: 100%;
	width: 63.5%;

	display: block;
	margin: 0 auto;

	/* we want to move the containers up so that the controls display in the menu-bar */
	margin-top: -50px;
}

/* common styles are extracted into their own CSS classes and applied to all common UI elements */
.app-half {
	float: left;
}

.app-ui-left {
	height: 100%;
	width: 27.8%;
}

.app-ui-right {
	/* 
		You can have css dynamically calculate values for things like width; we're doing this so the right-half doesn't 
		overflow; it will have 1px borders on the left and right; 70% width + 2 pixels will make it overflow since ui-left is 30%
	*/
	width: 72.2%;
	height: 100%;
}

/* APPLICATION LEFT-HALF */

.app-logo-container {
	width: 100%;
	height: 50px;
	cursor: pointer;
}

.app-logo {
	width: 25px; /* square images typically only need to be scaled in one direction, the other will follow to maintain aspect-ratio */
	margin-top: 12.5px;
}

.app-groups-container {
	height: calc(100% - 50px);
	width: 100%;
}

/* APPLICATION RIGHT-HALF */

.app-controls-container {
	width: 100%;
	height: 50px;
	display: inline-block;
}

.app-todo-list-container {
	width: calc(100% - 2px); /* CSS can perform dynamic calculations like this */
	min-height: calc(100% - 50px);
	background-color: var(--secondary-application-background-color);
	border-left: 1px solid var(--application-border-color);
	border-right: 1px solid var(--application-border-color);
	padding-top: 30px;
}

.time-groups-container {
	width: 100%;
	display: inline-block;
	margin-top: 30px;
}

.time-group {
	width: calc(92.5% - 6px);
	padding: 10px 3px;
	clear: both;
	display: inline-block;

	cursor: pointer;

	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
}

.time-group:hover {
	background-color: var(--secondary-application-background-color);
}

.time-group-selected {
	background-color: var(--secondary-application-background-color);;
}

.time-group-content {
	float: left;
}

.time-group-icon {
	width: 20px;
	margin-right: 15px;
}

.time-group-text {
	font-family: var(--primary-app-font);
	color: var(--title-text-color);

	margin-top: 5px;
	font-size: 85%;
}

.time-group-text-selected {
	font-weight: 600;
}

.context-groups-container {
	width: 92.5%;
	display: inline-block;
	margin-top: 25px;
}

.context-tabs-container {
	width: 100%;
	display: inline-block;
}

.context-tab {
	float: left;
	cursor: pointer;

	padding: 3px 5px;
	width: calc(33.3% - 10px);

	border-bottom: 2px solid var(--context-tab-border);
	color: var(--context-tab-text);

	font-family: var(--secondary-app-font);
	text-align: center;
	font-size: 80%;
}

.context-tab:hover {
	color: var(--context-tab-text-selected);
}

.context-tab-selected {
	color: var(--context-tab-text-selected);
	border-bottom: 2px solid var(--context-tab-border-selected);	
	font-weight: bold;
}

.context-tab-content {
	display: inline-block;
	width: 92.5%;
	margin-top: 25px;
}

.context-tab-content-hidden {
	display: none;
}

.project-item {
	width: 115%;
	margin-left: -15px;
	display: inline-block;
	clear: both;
	cursor: pointer;
}

.project-item:hover .project-item-content {
	background-color: var(--secondary-application-background-color);
}

.project-item:hover .drag-button {
	opacity: 0.8;
}

.project-item:hover .project-item-drop-down-button {
	opacity: 0.5;
}

.drag-button {
	float: left;
	width: 6px;
	margin-right: 5px;
	margin-top: 7px;
	cursor: move;

	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.project-item-content {
	float: left;
	width: calc(100% - 21px);
	padding: 10px 5px;

	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.project-item-content-selected {
	background-color: var(--secondary-application-background-color);
}

.project-item-icon {
	width: 11px;
	height: 11px;
	background-color: var(--project-color-red);
	border-radius: 100%;
	margin-right: 15px;
	margin-top: -1px;

	float: left;
}

.project-item-title {
	float: left;
	font-family: var(--secondary-app-font);
	color: var(--context-tab-selected);
	margin-right: 5px;
	font-size: 90%;

}

.project-item-title-selected {
	font-weight: 600;
	color: var(--title-text-color);
}

.project-item-number {
	float: left;
	font-family: var(--secondary-app-font);
	color: var(--content-text-color);

	font-size: 60%;
	margin-top: 2px;
}

.project-item-drop-down-button {
	float: right;
	width: 12px;
	cursor: pointer;
	opacity: 0;

	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.project-item-drop-down-button:hover {
	opacity: 1 !important;
}

.add-project-container {
	display: inline-block;
	padding: 10px 5px;
	cursor: pointer;
	margin-left: -3px;
}

.add-project-container:hover .add-project-text {
	text-decoration: underline;
}

.add-project-icon {
	width: 11px;
	float: left;
	margin-right: 15px;
}

.add-project-text {
	color: var(--primary-application-color);
	font-family: var(--primary-app-font);
	float: left;
	font-size: 90%;
}

.archived-projects-text {
	font-family: var(--secondary-app-font);
	color: var(--content-text-color);
	margin-top: 35px;
	cursor: pointer;
	font-size: 90%;
    font-weight: lighter;
}

.archived-projects-text:hover {
	text-decoration: underline;
}

/* APPLICATION CONTROLS */

.search-bar-container {
	position: absolute;
	float: left;
	background-color: transparent;
	cursor: text;
	border-radius: 3px;
	height: 35px;
	margin-top: 7px;

	width: 260px;
	margin-left: 50;

	clear: both;

	z-index: 100;

	transition: width 0.5s ease, background-color 0.5s ease;
	-webkit-transition: width 0.5s ease, background-color 0.5s ease;
}

.search-bar-container:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.search-icon {
	float: left;
	width: 20px;
	margin-top: 8px;
	margin-left: 10px;
}

.search-bar {
	float: left;
	background-color: transparent;

	height: 100%;
	width: calc(100% - 50px);
	padding-left: 5px;

	border: none;
	outline: none;

	font-family: var(--secondary-app-font);
	color: var(--search-bar-initial-color);
	font-weight: lighter;
	font-size: 100%;

	transition: color 1s ease;
	-webkit-transition: color 1s ease;
}

.search-bar::placeholder {
	color: var(--search-bar-initial-color);
	font-weight: lighter;
}

.control-buttons-container {
	display: inline-block;
	height: 100%;
	float: right;

	z-index: 50;
}

.control-button {
	width: 16px;
    margin-top: 18px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}

.productivity-container {
	float: right;
	display: inline-block;
	height: 100%;
	margin-right: 30px;
}

.productivity-button {
	float: right;
	margin-right: 3px;
}

.productivity-arrow {
	width: 8px;
	float: right;
	margin-top: 20px;
	margin-right: 3px;
}

.productivity-number {
	float: right;
	font-family: var(--secondary-app-font);
	color: white;
	font-size: 80%;
	margin-top: 21px;
}

.settings-button {
	margin-right: 7px;
}

/* RIGHT HALF OF THE APP, MAIN CONTENT AREA */

.todo-list-content-container {
	display: none !important;

	width: 90%;
	display: block;
	margin: 0 auto;

	padding: 10px 3px;
}

.todo-list-content-container-selected {
	display: block !important;
}

.todo-title-icons-container {
	width: 100%;
	display: inline-block;
}

.todo-title {
	font-family: var(--secondary-app-font);
	color: var(--title-text-color);
	font-size: 130%;
	line-height: 10px;
	display: inline-block;
	border-bottom: 1.5px solid transparent;

	cursor: pointer;
}

.todo-title:hover {
	border-bottom-color: var(--title-text-color);
}	

.todo-title-no-hover {
	cursor: text;
}

.todo-title-no-hover:hover {
	border-bottom-color: transparent !important;
}

.todo-date-text {
	display: inline;
	font-family: var(--secondary-app-font);
	color: var(--content-text-color);
	font-weight: lighter;
    font-size: 75%;
    margin-left: 3px;
}

.todo-content-button {
	float: right;
	width: 15px;
	cursor: pointer;

	opacity: 0.35;
}

.todo-content-button:hover {
	opacity: 1;
}

.project-comments-button {
	margin-right: 30px;
}

.share-options-button {
	margin-right: 30px;
}

.add-todo-container {
	width: 100%;
	display: inline-block;
	margin-top: 22px;
}

.add-todo-container:hover .add-todo-button {
	opacity: 1;
}

.seven-days-container {
	margin-top: 45px;
}

.add-todo-button {
	display: inline-block;
	cursor: pointer;
	margin-left: 3px;
}

.add-todo-button:hover .add-todo-text {
	text-decoration: underline;
}

.add-todo-icon {
	width: 11px;
	margin-right: 15px;
	float: left;
}

.add-todo-text {
	color: var(--primary-application-color);
	font-family: var(--secondary-app-font);
	float: left;
	font-weight: lighter;
    font-size: 90%;
    margin-top: 3px;
}

.show-archived-button {
	cursor: pointer;
	width: 15px;
	opacity: 0.35;
	float: right;
}

.show-archived-button:hover {
	opacity: 1;
}

.no-tasks-container {
	width: 100%;
	display: inline-block;
	margin-top: 30px;
	text-align: center;
}

.no-tasks-image {
	width: 38%;
	margin-bottom: 15px;
}

.no-tasks-title {
	font-family: var(--secondary-app-font);
	color: var(--title-text-color);
	font-size: 140%;
    margin-bottom: 15px;
}

.no-tasks-subtitle {
	font-family: var(--secondary-app-font);
	color: var(--title-text-color);
}

.day-section-container {
	width: 100%;
	display: inline-block;
}

.day-section-title {
	font-family: var(--secondary-app-font);
	color: var(--title-text-color);
	font-size: 90%;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
}

.day-section-title:hover {
	text-decoration: underline;
}

.day-section-divider {
	opacity: 0.3;
}

/* POPOVER STYLINGS */

.popover-container {
	display: none;
	opacity: 0;

	position: fixed;

	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease
}

.popover-content {
	background-color: #333333;
	padding: 8px 12px;
	border-radius: 3px;
}

.popover-title {
	font-family: var(--secondary-app-font);
	color: #f7f6f7;
	font-size: 78%;
}

.popover-subtitle {
	font-family: var(--secondary-app-font);
	color: #f7f6f7;
	font-size: 78%;
    margin-top: 2px;
    font-weight: lighter;
}

.popover-triangle {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #333333;

	margin-bottom: -2px;
	margin-left: 12px;
}

/* special style for any item that needs to be translucent until hovered over */

.translucency-hover {
	opacity: 0.5;

	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.translucency-hover:hover {
	opacity: 1;
}





